{% extends 'layout.html.twig' %}

{% block body %}
<div>
    <title></title>
</div>
    <div id="block_formModelProduct">
        {{ form_start(formModelProduct) }}
        {{ form_widget(formModelProduct) }}
        <button class="btn btn-success"> Rechercher</button>
        {{ form_end(formModelProduct) }}
    </div>

    <div class="block_product">
    {% if res != null %}
        {% for product in res %}
            <div class="block_product_only">
                <h3>{{ product.site.name }}</h3>
                <p class="title_name_model">{{ product.name }}</p>
                <p><strong>Prix : </strong>{{ product.priceFinal }} €
                <p><button class="btn btn-success"><a href="{{ product.site.baseUrl }}{{ product.url }}" target="_blank"> J'y vais !</a></button></p>
            </div>

        {% endfor %}
    {% endif %}
    </div>



{% endblock body %}